/* Reset CSS */

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, figure, blockquote, fieldset, legend {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
}

/* Remove list styles (bullets, numbers) */
ul, ol {
    list-style: none;
}


/* Remove default table spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove border and padding on images */
img {
    border-style: none;
    padding: 0;
}

/* Reset form elements */
input, select, textarea {
    /* margin: 1;
    padding: 1;*/
    outline: 5px; 
    font-size: 100%;
    font-family: 'Canaro Medium', sans-serif;
    vertical-align: baseline;
    border-radius: 5px;
    color: #a5a5ab;
    background-color: #42414d;
    border: none;
    width: 300px;
    padding: 6px;
}
input :focus{
    
    outline: red dashed 5px;
}

/* Standardize button appearance */
button {
    cursor: pointer;
    outline: 5px; 
    font-size: 100%;
    font-family: 'Canaro Medium', sans-serif;
    vertical-align: baseline;
    border-radius: 5px;
    color: #a5a5ab;
    background-color: #42414d;
    border: none;
    padding: 9px;
    box-shadow: 0 5px 15px rgba(34, 37, 36, 0.6);
}

button:hover{
    background-color: #34333a;
    transform: scale(0.95,0.95);
    transition: all 1s;
}

/* Remove default button styling in some browsers */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 1;
    padding: 0;
}

/* Remove default anchor styling */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default button styling */
button, input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: button;
    appearance: button;
}


/* Remove outline from focused elements */
:focus {
    outline: 0;
}